.sidebar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar__circle {
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    transform: translateY(-50%);
    width: 180px;
    height: 180px;
    position: absolute;
    top: 50vh;
}
.sidebar .sidebar__circle:first-child {
    left: -40px;
}
.sidebar .sidebar__circle:not(:first-child) {
    right: -40px;
}
.sidebar__arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

