.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.header__logo {
    margin-left: 50px;
    margin-top: -20px;
}

.media-nav__list,
.nav__list {
    list-style: none;
    display: flex;
}

.nav__list {
    gap: 6px;
}

.media-nav__list {
    gap: 30px;
}

.nav__item {
    color: #FFFFFF;
}

.header__cart-info {
    color: #FFFFFF;
    margin-right: 50px;
}
