.item {
    display: flex;
    flex-direction: column;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
}

.item__main-view {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    color: white;
}

.item__footer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.item-column-content-container {
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.item-row-content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.item__title {
    position: absolute;
    -webkit-text-stroke-width: 4px;
    color: transparent;
    font-size: 80px;
    line-height: 128px;
    text-align: center;
    text-shadow: none;
    -webkit-background-clip: text;
    background-size: cover;
    background-position: center;
    width: 100%;
    white-space: initial;
    word-wrap: break-word;
}

.item__price {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 41px;
    text-align: center;
    color: #FFFFFF;
}

.item__rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.item__star {
    width: 15px;
    height: 15px;
}

.item__description {
    white-space: initial;
    word-wrap: break-word;
}

.item-btn-container__btn {
    font-size: 32px;
    line-height: 41px;
    background: none;
    border: none;
    color: #FFFFFF;
}

.item-btn-container {
    border-bottom: 1px solid #FFFFFF;
}
