#app {
  position: relative;
  height: 100vh;
  background: linear-gradient(72.44deg, #432093 0%, #90DAFD 100%);
}

body {
  font-family: 'Space Grotesk', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

#app {
  overflow-x: hidden;
}
